.app {
  background: rgb(0, 48, 80);
  padding: 30px;
  height: 100vh;
  color: white;
}

.light-theme {
  background: rgb(206, 236, 255);
  color: black;
}

h1 {
  text-align: center;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  color: black;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.complete {
  background-color: rgb(190, 255, 190);
}

.delete {
  background-color: rgb(211, 38, 104);
  color: white;
}

.input {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  width: 99%;
}

.hook {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.342);
  font-weight: bolder;
}